[[plugins]]
repo = 'williamboman/mason.nvim'
on_source = 'mason-lspconfig'
lua_source = '''
require("mason").setup()
'''

[[plugins]]
repo = 'williamboman/mason-lspconfig.nvim'
depends = 'mason.nvim'
on_source = 'nvim-lspconfig'
lua_source = '''
require("mason-lspconfig").setup({
  automatic_installation = {
    exclude = { "zls" },
  },
})
'''

[[plugins]]
repo = 'neovim/nvim-lspconfig'
on_event = 'BufEnter'
lua_source = '''
local lspconfig = require("lspconfig")

lspconfig.vimls.setup({
  autostart = false,
})

lspconfig.lua_ls.setup({
  settings = {
    Lua = {
      diagnostics = {
        globals = {"vim"},
      },
    },
    workspace = {
      library = vim.api.nvim_get_runtime_file("", true),
    },
  },
  autostart = true,
})

lspconfig.bashls.setup{}

lspconfig.denols.setup({
  single_file_support = false,
  root_dir = lspconfig.util.root_pattern(
    "denops",
    "deno.json",
    "deno.jsonc"
  ),
  init_options = {
    lint = false,
    unstable = true
  },
})

lspconfig.tsserver.setup {
  single_file_support = false,
  root_dir = lspconfig.util.root_pattern("package.json"),
}

lspconfig.eslint.setup {
  root_dir = lspconfig.util.root_pattern(".eslintrc*"),
}

lspconfig.cssls.setup{}
lspconfig.sqlls.setup{}

lspconfig.jsonls.setup{}

lspconfig.yamlls.setup {
  settings = {
    yaml = {
      schemas = {
        [ "https://json.schemastore.org/github-workflow.json" ] = "/.github/workflows/*",
      },
    },
  },
}

lspconfig.julials.setup({
  autostart = true,
})

lspconfig.zls.setup({})
'''
hook_add = '''
nnoremap <silent> <c-]> <cmd>lua vim.lsp.buf.definition()<CR>
nnoremap <silent> d? <cmd>lua vim.diagnostic.open_float()<CR>
nnoremap <silent> K <cmd>lua vim.lsp.buf.hover()<CR>
nnoremap <silent> <leader>lr <cmd>lua vim.lsp.buf.rename()<CR>

autocmd Init BufWritePre * silent! lua vim.lsp.buf.format()
'''

[[plugins]]
repo = 'nvim-lua/plenary.nvim'
