[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
hook_add = '''
lua <<EOF
require'nvim-treesitter.configs'.setup {
  ensure_installed = "maintained",
  highlight = {
    enable = true,
    disable = {},
  },
}
EOF
'''

[[plugins]]
repo = 'nvim-treesitter/playground'
depends = 'nvim-treesitter/nvim-treesitter'
