[[plugins]]
repo = 'neovim/nvim-lspconfig'

hook_add = '''
nnoremap <silent> <c-]> <cmd>lua vim.lsp.buf.definition()<CR>
'''

[[plugins]]
repo = 'hasundue/nvim-lsp-installer'
depends = ['neovim/nvim-lspconfig', 'nvim-lua/plenary.nvim']

hook_add = '''
lua << EOF
local lsp_installer = require("nvim-lsp-installer")

lsp_installer.on_server_ready(function(server)
    local opts = {}

    opts.handlers = {
        ["textDocument/publishDiagnostics"] = vim.lsp.with(
            vim.lsp.diagnostic.on_publish_diagnostics, {
                signs = false,
                update_in_insert = true,
            }
        )
    }

    server:setup(opts)
end)
EOF
'''

[[plugins]]
repo = 'nvim-lua/plenary.nvim'
